*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #a4bad2
}
.container{
    width: 100%;
    height: auto;
    background-color: #001854;
}
#containerMenu{
    background-color: #a4bad2;
}
.conteudo{
    width: 1300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.imagem{
    width: 100%;
    height: inherit;
}
#BarraRodape{
    background-color: #a4bad2;
}
/* Estilizando menu */
#BarraMenu{
    width: inherit;
    height: 65px;
    background-color: #a4bad2;
    z-index: 999;    
}
#Logo{
    width: 5%;
    height: 100%;
    background-color: #a4bad2;
    background-image: url(imagens/logo-sem-fundo-p.png);
    background-size: 60px;
    background-repeat: no-repeat;
    margin-left: 60px;
    position: relative;
    padding: 0px;
    float: left;

}
/* Iniciando estilização do menu dropdown */
.itens{
    background-color: transparent;
    width: 90%;
    height: 100%;
    padding-top: 10px;
    float: left;
}
.Menu{
    float: left;
    width: 170px;
    height: 50px;
    background-color: #000000;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    padding-top: 10px;
    list-style: none;
    border: solid;

}
ul{
    margin-top:15px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

li:hover{
    background-color: #a4bad2;
    transition: 2s;
}
ul li:hover{
    background-color: #a4bad2;
    transition: 2s;
}
ul li{
   opacity: 0px;
   visibility: hidden;
   
   
}
li:hover>ul li{
    opacity: 10;
    visibility: visible;
}
/* Fim da estilização do menu dropdown */

/* Conteudo */
#FundoSite{
    height: 400px;
    width: 100%;
    background-image: url(imagens/software-1366450-pxhere.com_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#TextoCursos{
    color: white;
    width: inherit;
    height: 250px;
}
#TituloCSSHTML{
    width: inherit;
    height: 60px;
    color: white;
    padding-left: 40%;  
}
#TextoVideo{
    padding-top: 25px;
    width: inherit;
    height: 150px;
    color: white;
}
/* Adicionando video */
#Video{
    height: 600px;
    width: inherit;
    margin-top: 50px;
}
iframe{
    width: inherit;
    height: inherit;
}
p{
    color: white;
    font-family: monospace;
    font-size: 21px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
h1{ 
    font-family: Impact, fantasy;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-right: 75px;
}
/* rodapé */
#rodape{
    width: 100%;
    height: 75px;
    background-color: #a4bad2;

}
#redesWhats img{
    width:  75px;
    height: inherit;
    float: left;
    margin-left: 25px;
}
#redesInsta img{
    width: 70px;
    height: inherit;
    float: left;
    margin-top: 3px;
    
}
#Direitos{
    width: 600px;
    height: inherit;
    margin-left: 450px;
    align-items: center;
    padding-top: 25px;
}
#logoRodape{
    width: 65px;
    height: inherit;
    float: right;
    background-image: url(imagens/logo-sem-fundo-p.png);
    background-size: contain;
    background-repeat: no-repeat;
}
