*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #a4bad2
}
.container{
    width: 100%;
    height: auto;
    background-color: #001854;
}
#containerMenu{
    background-color: #a4bad2;
}
.conteudo{
    width: 1300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
#barrafinal{
    background-color: #a4bad2;
}
/* Estilizando menu */
#BarraMenu{
    width: inherit;
    height: 65px;
    background-color: #a4bad2;
    z-index: 999;    
}
#Logo{
    width: 5%;
    height: 100%;
    background-color: #a4bad2;
    background-image: url(imagens/logo-sem-fundo-p.png);
    background-size: 60px;
    background-repeat: no-repeat;
    margin-left: 60px;
    position: relative;
    padding: 0px;
    float: left;

}
/* Iniciando estilização do menu dropdown */
.itens{
    background-color: transparent;
    width: 90%;
    height: 100%;
    padding-top: 10px;
    float: left;
}
.Menu{
    float: left;
    width: 170px;
    height: 50px;
    background-color: #000000;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    padding-top: 10px;
    list-style: none;
    border: solid;

}
ul{
    margin-top:15px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

li:hover{
    background-color: #a4bad2;
    transition: .3s;
}
ul li:hover{
    background-color: #a4bad2;
    transition: .3s;
}
ul li{
   opacity: 0px;
   visibility: hidden;
}
li:hover>ul li{
    opacity: 10;
    visibility: visible;
    position: relative; /* O PROBLEMA ERA SÓ A POSIÇÃO QUE O ELEMENTO ASSUMIA*/
    z-index: 999;       /* EU NÃO LEMBRAVA COMO USAVA, MAS AGORA SIM*/
}
/* Fim da estilização do menu dropdown */

/* Estilizando sessão de professores */
#Professores{
    width: inherit;
    height: 800px;
    background-color: #001854;
}
#Professor1{
    width: inherit;
    height: 400px;
    
}
#Professor2{
    width: inherit;
    height: 400px;
}
#FotoProfessor1{
    width: 35%;
    height: inherit;
    background-color: #ffffff;
    border-radius: 100%;
    /* background-image: url(Captura\ de\ tela\ 2021-02-12\ 144508.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}
#TextoProfessor1{
    float: left;
    width: 65%;
    height: inherit;
    background-color: #b700ff;
    padding-top: 120px;
}
#FotoProfessor2{
    width: 35%;
    height: inherit;
    background-color: #ffffff;
    border-radius: 100%;
    /* background-image: url(Captura\ de\ tela\ 2021-02-12\ 144508.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}
#TextoProfessor2{
    float: left;
    width: 65%;
    height: inherit;
    background-color: #ff00aa;
    padding-top: 120px;
}
/* rodapé */
#rodape{
    width: 100%;
    height: 75px;
    background-color: #a4bad2;

}
#redesWhats img{
    width:  75px;
    height: inherit;
    float: left;
    margin-left: 25px;
}
#redesInsta img{
    width: 70px;
    height: inherit;
    float: left;
    margin-top: 3px;
    
}
#Direitos{
    width: 600px;
    height: inherit;
    margin-left: 450px;
    align-items: center;
    padding-top: 25px;
}
#logoRodape{
    width: 65px;
    height: inherit;
    float: right;
    background-image: url(imagens/logo-sem-fundo-p.png);
    background-size: contain;
    background-repeat: no-repeat;
}
